// ENCABEZADO

.nav>li>a {
    color: #000;
    font-weight: 700;
}


// FOR CONTACT

.input-style{
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    padding:1rem;
}

// FOOTER

.footer {
    border-top: 1px solid #e4e4e4;
}