<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/logo.png" alt="logo" class="mb-5 w-6rem flex-shrink-0">
        <div>
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
                <span class="text-blue-500 font-bold text-3xl">404</span>
                <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">No encontrado</h1>
                <div class="text-600 mb-5">El recurso solicitado no está disponible.</div>
                
            </div>
        </div>
    </div>
</div>