<div class="surface-0 justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">
        <!-- GRID QUE CONTIENE EL FORMULARIO DE REGISTRO -->
        <div class="grid surface-ground flex justify-content-center overflow-hidden">
            <div class="col-8 mt-8 mb-8 justify-content-center text-center">
                <img src="assets/layout/images/logo.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
                <p-toast />
                <form [formGroup]="registerForm" (ngSubmit)="submitForm()"
                    class="grid surface-card py-8 px-5 sm:px-8 text-left" style="border-radius:53px">
                    <!-- CAMPOS DEL FORMULARI DE REGISTRO -->
                    <div class="col-12">
                        <div class="text-center mb-5">
                            <div class="text-900 text-3xl font-medium mb-3">Registro de usuarios</div>
                        </div>
                    </div>
                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="name" class="block text-900 font-medium mb-2">Nombres</label>
                            <input type="text" placeholder="Nombres" id="name" formControlName="name"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || submitted))}"
                                pInputText class="w-full mb-1" />
                            <small id="name-help"
                                *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || submitted)">
                                <span *ngIf="registerForm.get('name')?.errors?.['required']">El nombre es
                                    obligatorio.</span>
                                <span *ngIf="registerForm.get('name')?.errors?.['minlength']">El nombre debe tener al
                                    menos 2 caracteres.</span>
                                <span *ngIf="registerForm.get('name')?.errors?.['maxlength']">El nombre no puede exceder
                                    los 50 caracteres.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="lastname" class="block text-900 font-medium mb-2">Apellidos</label>
                            <input type="text" placeholder="Apellidos" id="lastname" formControlName="lastname"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('lastname')?.invalid && (registerForm.get('lastname')?.touched || submitted))}"
                                pInputText class="w-full mb-1" />
                            <small id="lastname-help"
                                *ngIf="registerForm.get('lastname')?.invalid && (registerForm.get('lastname')?.touched || submitted)">
                                <span *ngIf="registerForm.get('lastname')?.errors?.['required']">El apellido es
                                    obligatorio.</span>
                                <span *ngIf="registerForm.get('lastname')?.errors?.['minlength']">El apellido debe tener
                                    al menos 2 caracteres.</span>
                                <span *ngIf="registerForm.get('lastname')?.errors?.['maxlength']">El apellido no puede
                                    exceder los 50 caracteres.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="date" class="block text-900 font-medium mb-2">Fecha de nacimiento</label>
                            <p-calendar formControlName="date" id="date" [showIcon]="true" styleClass="w-full"
                                inputStyleClass="w-full p-3"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('date')?.invalid && (registerForm.get('date')?.touched || submitted))}" />
                            <small id="date-help"
                                *ngIf="registerForm.get('date')?.invalid && (registerForm.get('date')?.touched || submitted)">
                                <span *ngIf="registerForm.get('date')?.errors?.['required']">La fecha de nacimiento es
                                    obligatoria.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="email" class="block text-900 font-medium mb-2">Correo electrónico</label>
                            <input formControlName="email" id="email" type="text" placeholder="Correo electrónico"
                                pInputText class="w-full mb-1"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || submitted))}" />
                            <small id="email-help"
                                *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || submitted)">
                                <span *ngIf="registerForm.get('email')?.errors?.['required']">El correo electrónico es
                                    obligatorio.</span>
                                <span *ngIf="registerForm.get('email')?.errors?.['email']">El correo electrónico no es
                                    válido.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="document_type" class="block text-900 font-medium mb-2">Tipo documento</label>
                            <p-dropdown [options]="documents_type" formControlName="document_type" id="document_type"
                                optionLabel="name" [filter]="true" filterBy="name" placeholder="Tipo documento"
                                styleClass="w-full" inputStyleClass="w-full p-3"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('document_type')?.invalid && (registerForm.get('document_type')?.touched || submitted))}" />
                            <small id="document_type-help"
                                *ngIf="registerForm.get('document_type')?.invalid && (registerForm.get('document_type')?.touched || submitted)">
                                <span *ngIf="registerForm.get('document_type')?.errors?.['required']">El tipo de
                                    documento es obligatorio.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="document" class="block text-900 font-medium mb-2">Documento</label>
                            <input formControlName="document" id="document" type="text" placeholder="Documento"
                                pInputText class="w-full mb-1"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('document')?.invalid && (registerForm.get('document')?.touched || submitted))}" />
                            <small id="document-help"
                                *ngIf="registerForm.get('document')?.invalid && (registerForm.get('document')?.touched || submitted)">
                                <span *ngIf="registerForm.get('document')?.errors?.['required']">El documento es
                                    obligatorio.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="user_type" class="block text-900 font-medium mb-2">Tipo usuario</label>
                            <p-dropdown [options]="users_type" formControlName="user_type" id="user_type"
                                optionLabel="name" [filter]="true" filterBy="name" placeholder="Tipo usuario"
                                styleClass="w-full" inputStyleClass="w-full p-3"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('user_type')?.invalid && (registerForm.get('user_type')?.touched || submitted))}" />
                            <small id="user_type-help"
                                *ngIf="registerForm.get('user_type')?.invalid && (registerForm.get('user_type')?.touched || submitted)">
                                <span *ngIf="registerForm.get('user_type')?.errors?.['required']">El tipo de usuario es
                                    obligatorio.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="password" class="block text-900 font-medium mb-2">Contraseña</label>
                            <p-password id="password" formControlName="password" placeholder="Contraseña"
                                [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full p-3"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || submitted))}"></p-password>
                            <small id="password-help"
                                *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || submitted)">
                                <span *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es
                                    obligatoria.</span>
                                <span *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe
                                    tener al menos 6 caracteres.</span>
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12 lg:col-6">
                        <div class="col-12">
                            <label for="confirmationPassword" class="block text-900 font-medium mb-2">Confirmar
                                Contraseña</label>
                            <p-password id="confirmationPassword" formControlName="confirmationPassword"
                                placeholder="Confirmar Contraseña" [toggleMask]="true" styleClass="w-full"
                                inputStyleClass="w-full p-3"
                                [ngClass]="{'ng-invalid ng-dirty': (registerForm.get('confirmationPassword')?.invalid && (registerForm.get('confirmationPassword')?.touched || submitted))}"></p-password>
                            <small id="confirmationPassword-help"
                                *ngIf="registerForm.get('confirmationPassword')?.invalid && (registerForm.get('confirmationPassword')?.touched || submitted)">
                                <span *ngIf="registerForm.get('confirmationPassword')?.errors?.['required']">La
                                    confirmación de la contraseña es obligatoria.</span>
                                <span *ngIf="registerForm.get('confirmationPassword')?.errors?.['mismatch']">Las
                                    contraseñas no coinciden.</span>
                            </small>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="grid justify-content-center text-center">
                            <div class="col-12 md:col-12 lg:col-6 ">
                                <button [disabled]="btnSubmit" type="submit" pButton pRipple label="Registrarme"
                                    class="w-full p-3 text-xl"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer py-4 px-4 mx-0 mt-8 lg:mx-8">
            <div class="grid justify-content-between">
                <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
                    <a (click)="router.navigate(['/pages/landing'], {fragment: 'home'})"
                        class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
                        <img src="assets/layout/images/logo.png" alt="footer sections" width="50" height="50"
                            class="mr-2">
                        <h4 class="font-medium text-3xl text-900">Student Platform</h4>
                    </a>
                </div>

                <div class="col-12 md:col-10 lg:col-7">
                    <div class="grid text-center md:text-left">
                        <div class="col-12 md:col-4">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Links</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Inicio</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Login</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Registro</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Contáctanos</a>
                        </div>

                        <div class="col-12 md:col-4 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Políticas</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Privacidad</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Cookies</a>
                        </div>

                        <div class="col-12 md:col-4 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Otros links</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Blog</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">WhatsApp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>